version: '3.7'

networks:
  default:
    external: true
    name: docker-bridge

services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    environment:
      GF_INSTALL_PLUGINS: "grafana-clock-panel,grafana-simple-json-datasource"
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.enable: "true"
      traefik.http.routers.grafana.middlewares: "iframe-header@file"
      traefik.http.routers.grafana.tls: "true"
      traefik.http.routers.grafana.rule: "Host(`grafana.{{ domain }}`)"
      traefik.http.routers.grafana.service: "grafana"
      traefik.http.services.grafana.loadbalancer.server.port: "3000"
    networks:
      - default
    depends_on:
      - influxdb
    volumes:
      - "{{ docker_data }}/monitoring-services/grafana:/var/lib/grafana:rw"

  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    restart: unless-stopped
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.enable: "true"
      traefik.http.routers.influxdb.tls: "true"
      traefik.http.routers.influxdb.rule: "Host(`influxdb.{{ domain }}`)"
      traefik.http.routers.influxdb.service: "influxdb"
      traefik.http.services.influxdb.loadbalancer.server.port: "8086"
    networks:
      - default
    volumes:
      - "{{ docker_data }}/monitoring-services/influxdb:/var/lib/influxdb:rw"
    environment:
      INFLUXDB_DB: "opnsense"
      INFLUXDB_ADMIN_USER: "root"
      INFLUXDB_ADMIN_PASSWORD: "{{ webservices_password }}"

