version: "3"

networks:
  default:
    external: true
    name: docker-bridge

services:
  nfs:
    image: itsthenetwork/nfs-server-alpine:12
    container_name: nfs
    restart: unless-stopped
    privileged: true
    environment:
      - SHARED_DIRECTORY=/data
    volumes:
      - "{{ docker_share }}/nfs:/data"
    labels:
      com.centurylinklabs.watchtower.enable: "true"
    ports:
      - 2049:2049
    networks:
      - default
