#!/bin/bash

rsync -av --delete {{ docker_data }} {{ docker_backup }} --log-file=/var/log/backup-docker-data.log
rsync -av --delete {{ docker_recipes }} {{ docker_backup }} --log-file=/var/log/backup-docker-recipes.log
