version: "3"

networks:
  isolated:
    external: true
    name: isolated

services:
  watchtower:
    image: "containrrr/watchtower"
    container_name: watchtower
    restart: unless-stopped
    environment:
      WATCHTOWER_LABEL_ENABLE: "true"
      TZ: "{{ timezone }}"
    networks:
      - isolated
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
