version: '3'

networks:
  default:
    external: true
    name: docker-bridge

services:
  authelia:
    image: authelia/authelia
    container_name: authelia
    restart: unless-stopped
    labels:
      traefik.enable: "true"
      traefik.docker.network: "docker-bridge"
      traefik.constraints: "homelab"
      traefik.http.routers.authelia.middlewares: "iframe-header@file"
      traefik.http.routers.authelia.tls: "true"
      traefik.http.routers.authelia.rule: "Host(`auth.{{ domain }}`)"
      traefik.http.routers.authelia.service: "authelia"
      traefik.http.services.authelia.loadbalancer.server.port: "9091"
    expose:
      - 9091
    environment:
      TZ: "{{ timezone }}"
    networks:
      - default
    volumes:
      - "{{ docker_data }}/authelia:/config"
