version: "3"

networks:
  default:
    external: true
    name: docker-bridge

services:
  traefik:
    image: "traefik"
    container_name: traefik
    restart: unless-stopped
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.enable: "true"
      traefik.http.routers.traefik: "true"
      traefik.http.routers.traefik.middlewares: "iframe-header@file"
    networks:
      - default
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "{{ docker_data }}/traefik/certs:/certs"
      - "{{ docker_data }}/traefik/config/config.yml:/etc/traefik/config.yml:ro"
      - "{{ docker_data }}/traefik/config/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ docker_data }}/traefik/log:/log:rw"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
