version: "3"

networks:
  default:
    external: true
    name: docker-bridge

services:
  librespeed:
    image: ghcr.io/linuxserver/librespeed
    container_name: librespeed
    restart: unless-stopped
    environment:
      TZ: "{{ timezone }}"
      PASSWORD: "{{ webservices_password }}"
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.enable: "true"
      traefik.docker.network: "docker-bridge"
      traefik.constraints: "{{ traefik_constraints_local_services }}"
      traefik.http.routers.librespeed.middlewares: "iframe-header@file"
      traefik.http.routers.librespeed.tls: "true"
      traefik.http.routers.librespeed.rule: "Host(`librespeed.{{ domain }}`)"
      traefik.http.routers.librespeed.service: "librespeed"
      traefik.http.services.librespeed.loadbalancer.server.port: "80"
    networks:
      - default
    volumes:
      - "{{ docker_data }}/librespeed:/config"
