---
- block:

  - name: 'System update'
    pacman:
      update_cache: yes
      upgrade: yes

  - name: 'Install base packages'
    package:
      name:
        - htop
        - jq
        - neovim
        - openssl
        - python-pip
        - usbutils
      state: latest

  - name: "Create the aur_builder user"
    ansible.builtin.user:
      name: aur_builder
      create_home: yes
      group: wheel

  - name: "Allow the aur_builder user to run sudo pacman without a password"
    ansible.builtin.lineinfile:
      path: /etc/sudoers.d/11-install-aur_builder
      line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
      create: yes
      validate: 'visudo -cf %s'

  become: yes
