apiVersion: k3d.io/v1alpha4
kind: Simple
metadata:
  name: {{ k3d_cluster_name }}
servers: 1
agents: 0
kubeAPI:
  host: "{{ domain }}"
  hostIP: "127.0.0.1"
  hostPort: "6445"
image: rancher/k3s:v1.23.10-k3s1
network: k3s-network
token: "{{ k3s_cluster_secret }}"
ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
  - port: 443:443
    nodeFilters:
      - loadbalancer
hostAliases:
  - ip: {{ flux_repo_ip }}
    hostnames:
      - {{ flux_repo_ssh_hostname }}
options:
  k3d:
    wait: true
    timeout: "60s"
    disableLoadbalancer: false
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true
volumes:
  - volume: /opt/k3d/data:/data
    nodeFilters:
      - server:*
      - agent:*
