auth:
  - user: smb
    group: smb
    uid: {{ uid }}
    gid: {{ gid }}
    password: {{ webservices_password }}

global:
  - "force user = smb"
  - "force group = smb"

share:
  - name: Movies
    path: /samba/movies
    browsable: yes
    readonly: no
    guestok: no
    validusers: smb
    writelist: smb
    veto: no
  - name: Series
    path: /samba/series
    browsable: yes
    readonly: no
    guestok: no
    validusers: smb
    writelist: smb
    veto: no
  - name: Music
    path: /samba/music
    browsable: yes
    readonly: no
    guestok: no
    validusers: smb
    writelist: smb
    veto: no
  - name: Pictures
    path: /samba/pictures
    browsable: yes
    readonly: no
    guestok: no
    validusers: smb
    writelist: smb
    veto: no
