auth:
  - user: smb
    group: smb
    uid: {{ uid }}
    gid: {{ gid }}
    password: {{ webservices_password }}

global:
  - "force user = smb"
  - "force group = smb"

share:
  - name: samba
    path: /samba
    browsable: yes
    readonly: no
    guestok: no
    validusers: smb
    writelist: smb
    veto: no
