version: '3.7'

networks:
  default:
    external: true
    name: docker-bridge

services:
  server:
    image: crazymax/samba
    container_name: samba
    restart: unless-stopped
    ports:
      - 445:445
    networks:
      - default
    environment:
      TZ: "{{ timezone }}"
    labels:
      com.centurylinklabs.watchtower.enable: "true"
    volumes:
      - "{{ docker_data }}/samba:/data"
      - "{{ docker_share }}/samba:/samba"
