---
###############################################################
#                         Users Database                      #
###############################################################

# This file can be used if you do not have an LDAP set up.

# Generate Passords with:
# ~$ docker run --rm authelia/authelia:latest authelia hash-password 'yourpassword'

# List of users
users:
  root:
    displayname: "admin"
    password: "{{ argon2_webservices_password }}"
    email: root@{{ domain }}
    groups:
      - admins
      - dev
...
