# set yaml schema through modeline (vscode-yaml extension): traefik dynamic schema
# yaml-language-server: $schema=https://json.schemastore.org/traefik-v2-file-provider.json
---

global:
  sendAnonymousUsage: false

api:
  dashboard: true
  insecure: true

providers:
  docker:
    constraints: "Label(`traefik.constraints`,`{{ traefik_constraints_local_services }}`)"
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: false

  file:
    filename: /etc/traefik/config.yml
    watch: true

log:
  level: "{{ traefik_log_level }}"
  format: common
  filePath: "/log/traefik.log"

accessLog:
  filePath: "/log/access.log"

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
        - "172.16.0.0/16"
  https:
    address: ":443"
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
        - "172.16.0.0/16"
  ssh:
    address: ":222"

