version: "3"

networks:
  wikijs_backend:
    external: false
    name: wikijs-backend
    internal: true
  default:
    external: true
    name: docker-bridge

services:
  wiki_database:
    image: postgres:11-alpine
    container_name: wikijs-database
    restart: unless-stopped
    networks:
      - wikijs_backend
    env_file:
      - .env
    volumes:
      - "{{ docker_data }}/wikijs/database:/var/lib/postgresql/data"

  wiki_webserver:
    image: requarks/wiki:2
    container_name: wikijs
    restart: unless-stopped
    depends_on:
      - wiki_database
    networks:
      - wikijs_backend
      - default
    environment:
      DB_PORT: 5432
      DB_HOST: wiki_database
      DB_TYPE: postgres
    env_file:
      - .env
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.enable: "true"
      traefik.docker.network: "docker-bridge"
      traefik.constraints: "homelab"
      traefik.http.routers.wiki.middlewares: "iframe-header@file"
      traefik.http.routers.wiki.tls: "true"
      traefik.http.routers.wiki.rule: "Host(`wiki.{{ domain }}`)"
      traefik.http.routers.wiki.service: "wiki"
      traefik.http.services.wiki.loadbalancer.server.port: "3000"
