version: '3'

networks:
  default:
    external: true
    name: docker-bridge

services:
  webdav:
    image: bytemark/webdav
    container_name: webdav
    restart: unless-stopped
    networks:
      - default
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.enable: "true"
      traefik.docker.network: "docker-bridge"
      traefik.constraints: "{{ traefik_constraints_local_services }}"
      traefik.http.routers.webdav.middlewares: "iframe-header@file"
      traefik.http.routers.webdav.tls: "true"
      traefik.http.routers.webdav.rule: "Host(`webdav.{{ domain }}`)"
      traefik.http.routers.webdav.service: "webdav"
      traefik.http.services.webdav.loadbalancer.server.port: "80"
    environment:
      AUTH_TYPE: Basic
    env_file:
      - .env
    volumes:
      - "{{ docker_data }}/webdav:/var/lib/dav"
