version: "3"

networks:
  default:
    external: true
    name: docker-bridge
  paperless_backend:
    external: false
    name: paperless-backend

services:

  broker:
    container_name: paperless-broker
    image: redis:6.0
    restart: unless-stopped
    networks:
      - paperless_backend
    volumes:
      - "{{ docker_data }}/paperless/redisdata:/data"

  # do not add healthcheck! Else paperless-ngx wont work relayable with traefik (#1347)
  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless
    restart: unless-stopped
    networks:
      - paperless_backend
      - default
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.enable: "true"
      traefik.docker.network: "docker-bridge"
      traefik.constraints: "{{ traefik_constraints_local_services }}"
      traefik.http.routers.paperless.middlewares: "iframe-header@file,auth@file"
      traefik.http.routers.paperless.tls: "true"
      traefik.http.routers.paperless.rule: "Host(`paperless.{{ domain }}`)"
      traefik.http.routers.paperless.service: "paperless"
      traefik.http.services.paperless.loadbalancer.server.port: "8000"
    depends_on:
      - broker
    volumes:
      - "{{ docker_data }}/paperless/data:/usr/src/paperless/data"
      - "{{ docker_data }}/paperless/media:/usr/src/paperless/media"
      - "{{ docker_data }}/paperless/export:/usr/src/paperless/export"
      - "{{ docker_share }}/paperless/consume:/usr/src/paperless/consume"
    environment:
      PAPERLESS_REDIS: "redis://broker:6379"
      PAPERLESS_URL: "https://paperless.{{ domain }}"
      USERMAP_UID: "{{ uid }}"
      USERMAP_GID: "{{ gid }}"
      PAPERLESS_TIME_ZONE: "{{ timezone }}"
      PAPERLESS_OCR_LANGUAGES: "deu eng"
      PAPERLESS_OCR_LANGUAGE: "deu"
      PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
      PAPERLESS_ADMIN_USER: "root"
      PAPERLESS_ADMIN_PASSWORD: "{{ webservices_password }}"
      PAPERLESS_ADMIN_MAIL: "root@{{ domain }}"

