version: "3"

services:
  watchtower:
    image: "containrrr/watchtower"
    container_name: watchtower
    restart: unless-stopped
    network_mode: none
    environment:
      WATCHTOWER_SCHEDULE: "0 0 4 * * *"
      WATCHTOWER_LABEL_ENABLE: "true"
      WATCHTOWER_CLEANUP: "true"
      TZ: "{{ timezone }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
