version: "3"

networks:
  default:
    external: true
    name: docker-bridge

services:
  gitea:
    image: gitea/gitea:1
    container_name: gitea
    restart: unless-stopped
    # In addition to the environment variables, any settings in `app.ini` can be set or overridden with an environment variable of the form: `GITEA__SECTION_NAME__KEY_NAME`.
    # These settings are applied each time the docker container starts.
    environment:
      USER_UID: "{{uid}}"
      USER_GID: "{{gid}}"
      SSH_LISTEN_PORT: 22
      SSH_PORT: 222
      LFS_START_SERVER: "true"
      APP_NAME: "Gitea"
      DOMAIN: "git.{{ domain }}"
      SSH_DOMAIN: "git.{{ domain }}"
      ROOT_URL: "https://git.{{ domain }}/"
      DISABLE_REGISTRATION: "true"
      REQUIRE_SIGNIN_VIEW: "true"
      GITEA__webhook__ALLOWED_HOST_LIST: "*"
      GITEA__webhook__SKIP_TLS_VERIFY: "true"
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.enable: "true"
      traefik.docker.network: "docker-bridge"
      traefik.constraints: "{{ traefik_constraints_local_services }}"
      traefik.http.routers.git.middlewares: "iframe-header@file"
      traefik.http.routers.git.tls: "true"
      traefik.http.routers.git.rule: "Host(`git.{{ domain }}`)"
      traefik.http.routers.git.service: "git"
      traefik.http.services.git.loadbalancer.server.port: "3000"
      traefik.tcp.routers.git-ssh.rule: "HostSNI(`*`)"
      traefik.tcp.routers.git-ssh.entrypoints: "ssh"
      traefik.tcp.routers.git-ssh.service: "git-ssh"
      traefik.tcp.services.git-ssh.loadbalancer.server.port: "22"
    volumes:
      - "{{docker_data}}/gitea:/data"
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      - default
