#!/bin/bash

if [ -f /.dockerenv ]; then
    DOCKER_COMPOSE_RECIPIES="/source/{{ docker_recipes | basename }}"
    DOCKER_COMPOSE_LOGS="/logs"
    FILTER="duplicati\|traefik\|vpn-services\|deluge\|homeassistant"
else
    DOCKER_COMPOSE_RECIPIES="{{ docker_recipes }}"
    DOCKER_COMPOSE_LOGS="{{ docker_logs }}"
    FILTER="traefik\|vpn-services\|deluge\|homeassistant"
fi

IFS=$'\n'
for recipe_path in $(find $DOCKER_COMPOSE_RECIPIES -iname "docker-compose.yml" | grep -iv "$FILTER" | xargs -I {} dirname "{}") ; do
    cd "$recipe_path"
    service_name=$(basename "$recipe_path")
    log_name="$(date +"%Y-%m-%d_%H-%M-%S")-start.log"
    docker-compose up -d 2>&1
    mkdir -p $DOCKER_COMPOSE_LOGS/$service_name
    docker inspect $(docker-compose images -q) 2>&1 > $DOCKER_COMPOSE_LOGS/$service_name/$log_name
done

unset IFS
