version: '3.8'

networks:
  default:
    external: true
    name: docker-bridge

services:
  wireguard:
    image: weejewel/wg-easy
    container_name: wireguard
    restart: unless-stopped
    environment:
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      TZ: "{{ timezone }}"
      WG_HOST: "wireguard.{{ domain }}"
      PASSWORD: "{{ webservices_password }}"
    volumes:
      - "{{ docker_data }}/wireguard-server:/etc/wireguard"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    networks:
      - default
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
    ports:
      - "51820:51820/udp"
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      traefik.enable: "true"
      traefik.docker.network: "docker-bridge"
      traefik.constraints: "{{ traefik_constraints_local_services }}"
      traefik.http.routers.wireguard.middlewares: "iframe-header@file"
      traefik.http.routers.wireguard.tls: "true"
      traefik.http.routers.wireguard.rule: "Host(`wireguard.{{ domain }}`)"
      traefik.http.routers.wireguard.service: "wireguard"
      traefik.http.services.wireguard.loadbalancer.server.port: "51821"
